<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.board.mapper.BoardMapper">

    <insert id="boardInsert" parameterType="com.example.board.domain.BoardVO">
        insert into board_pro
            values
        (#{bno},#{subject},#{content},#{writer},now(),0)
    </insert>

    <select id="boardList" resultType="com.example.board.domain.BoardVO">
            select * from board_pro
    </select>

     <select id="titleList" resultType="com.example.board.domain.BoardVO">
            select subject from board_pro
    </select>

     <select id="selectBoardOne" resultType="com.example.board.domain.BoardVO" parameterType="int">
            select * from board_pro where bno = #{bno}
    </select>
</mapper>
